Django==5.2.8
djangorestframework==3.16.1
django-chartjs==2.3.0
Pillow==12.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.10.0
cffi==2.0.0
pycparser==2.23
sqlparse==0.5.3
tzdata==2025.2
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.2.0
psycopg2-binary==2.9.11
mysqlclient==2.2.1
newsapi==0.1.1
requests==2.31.0
